# Gradle
.gradle/
build/
**/build/
local.properties

# IDE (Android Studio / IntelliJ)
.idea/
*.iml

# Kotlin
.kotlin/
.kotlin/errors/

# macOS
.DS_Store

# Build outputs
*.apk
*.aab
*.aar
*.dex
*.class

# Native / external builds
.externalNativeBuild/
.cxx/
ndkBuild/

# Logs & temp
*.log
*.tmp
*.bak
*~